@model MiseEnSituation.Models.CheckUp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckUp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.RH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Manager.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.RH.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
