@model Model.Models.CheckUp
@{
    Layout = "~/Views/Shared/_LayoutEmploye.cshtml";
}

@{
    ViewBag.Title = "Formation";
}

<style>

    h1 {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }

    h2 {
        color: black;
        font-weight: 400;
        text-align: center;
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .tbl-header {
        background-color: rgba(255,255,255,0.3);
    }

    .tbl-content {
        height: 300px;
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(255,255,255,0.3);
    }

    th {
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }

    td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        border-bottom: solid 1px rgba(255,255,255,0.1);
    }

    p {
        color: ghostwhite;
    }



    body {
        background: -webkit-linear-gradient(left, #25c481, #25b7c4);
        background: linear-gradient(to right, #25c481, #25b7c4);
        font-family: 'Roboto', sans-serif;
    }

    section {
        margin: 50px;
    }


    /* scrollbar */

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
</style>

<script>
    $(window).on("load resize ", function () {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({ 'padding-right': scrollWidth });
    }).resize();
</script>
<section>
    <!--for demo wrap-->
    <h1>Mes Réunion</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                    <th>@Html.DisplayNameFor(model => model.Employee)</th>
                    <th>@Html.DisplayNameFor(model => model.Manager)</th>
                    <th>@Html.DisplayNameFor(model => model.RH)</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                @if (ViewBag.lstCU != null)
                {
                    foreach (var item in ViewBag.lstCU)
                    {
                        <tr>
                            <th>@item.Date</th>
                            <th>@item.Employee.Name</th>
                            <th>@item.RH</th>
                            <th>@item.Manager</th>
                        </tr>
                    }
                }else { 
                    <tr>
                        <th>Vide</th>
                        <th>Vide</th>
                        <th>Vide</th>
                        <th>Vide</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@*<body>
        <div>
            @{
                String nom = ;
                String message = "Salut " + nom;
            }

            <p>@message</p>
        </div>
    </body>*@
