@{
    ViewBag.Title = "Admin Page";
}


<div class="jumbotron">
    <h4></h4>

    <div class="container">
        <div class="page-header">

            <h2>Page d'administration</h2>
            <img src="~/Content/Image/IconAdmin.png" alt="Management image" />

        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger">@Html.ActionLink("Gestion des Utilisateurs", "Index", "Users")</li>
        @*<li class="list-group-item">@Html.ActionLink("Gestion des Adresses", "Index", "Addresses")</li>*@
        <li class="list-group-item list-group-item-success">@Html.ActionLink("Gestion des Employes", "Index", "Employee")</li>
        <li class="list-group-item list-group-item-info">@Html.ActionLink("Gestion des Postes", "Index", "Post")</li>
        <li class="list-group-item list-group-item-danger">@Html.ActionLink("Gestion des Skills", "Index", "Skills")</li>
        <li class="list-group-item">@Html.ActionLink("Gestion des Checkups", "Index", "CheckUp")</li>
        <li class="list-group-item list-group-item-success">@Html.ActionLink("Gestion des Checkups Reports", "Index", "CheckUpReports")</li>
        <li class="list-group-item list-group-item-info">@Html.ActionLink("Gestion des Companies", "Index", "Company")</li>
        <li class="list-group-item list-group-item-danger">@Html.ActionLink("Gestion des Trainings Courses", "Index", "TrainingCourses")</li>

    </ul>

</div>
