@model MiseEnSituation.Models.TrainingCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationInHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationInHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        @for (int i = 0; i < Model.EnrolledEmployees.Count(); i++)
        {
            <dt>
                @if (i == 0)
                {
                    <span>Employees</span>
                }
            </dt>
            <dd>
                @Model.EnrolledEmployees[i].Name
            </dd>
        }


        @for (int i = 0; i < Model.TrainedSkills.Count(); i++)
        {
            <dt>
                @if (i == 0)
                {
                    <span>Trained Skills</span>
                }
            </dt>
            <dd>
                @Model.TrainedSkills[i].Description
            </dd>
        }



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
