@model MiseEnSituation.Models.TrainingCourse

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>TrainingCourse</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EnrolledEmployees)
    @Html.HiddenFor(model => model.TrainedSkills)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndingDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndingDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndingDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DurationInHours, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DurationInHours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DurationInHours, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.EnrolledEmployees, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select name="EnrolledEmployees" id="EnrolledEmployees" multiple>
                    @for (int i = 0; i < ViewBag.Employees.Count; i++)
                    {
                        <option value="@ViewBag.Employees[i].Id">@ViewBag.Employees[i].Name</option>
                    }
                </select>

                @Html.ValidationMessageFor(model => model.EnrolledEmployees, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.Label("Trained skills", htmlAttributes: new { @for= "EditTrainedSkills", @class = "control -label col-md-2" })
        <div class="col-md-10">

            <select name="EditTrainedSkills" id="EditTrainedSkills" multiple>
                @for (int i = 0; i < ViewBag.Skills.Count; i++)
                {
                    <option value="@ViewBag.Skills[i].Id">@ViewBag.Skills[i].Description</option>
                }
            </select>

            @*@Html.ValidationMessageFor(model => model.TrainedSkills, "", new { @class = "text-danger" })*@
            @if (ViewBag.ErrorSkillsMessage != null)
            {
                <br/>
                <span class="text-danger">@ViewBag.ErrorSkillsMessage</span>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}