@model IEnumerable<Model.Models.CheckUpReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishedCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WishedCourses)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.FinishedCourses, new SelectList(item.FinishedCourses.Select(o => o.Name), null, item.FinishedCourses.Select(o => o.Name)), htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.WishedCourses, new SelectList(item.WishedCourses.Select(o => o.Name), null, item.WishedCourses.Select(o => o.Name)), htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
